{% extends 'main/light_base.html' %}
{% load static %}
{% block content %}
<div class="rules-content container">
    <div class="article-back">
        <img src="{% static 'img/article-back.svg' %}" alt="<" class="article-back-arrow">
        <a href="{% url 'chat:index' %}" class="article-back-link">Назад</a>
    </div>
    <form method="post" class="reset-password-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} 
            {{ field }}
        {% endfor %}
        <input type="submit" value="Сменить пароль" class="reset-button">
    </form>
</div>
{% endblock %}